{% extends "base.html" %}

{% block navigator%}
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active"><a class="nav-link" href="../../categories"><span class="fa fa-home fa-lg"> </span>Home</a></li>
        <li class="nav-item"><a class="nav-link" href="../../../contact.html"><span class="fa fa-info fa-lg"></span>Contact</a></li>
    </ul>

    <ul class="navbar-nav ml-auto"> 
            <li class="nav-item"><a class="nav-link" href="{{url_for('api_test')}}"><span class="fa fa-info fa-lg"></span>API</a></li>
            <li class="nav-item"><a class="nav-link" href="{{url_for('logout')}}"><span class="fa fa-sign-out fa-lg"></span>Logout</li>
    </ul>
{% endblock %}

{% block content %}

     <header class="jumbotron">
            <div class="container">
                <div class="row row-header">
                    <div class="col-12 col-sm-6 text-center">
                        <h1>{{active_list.name}} Language FlashCards</h1>
                        <p> Click any Card to view the translated word</p>
                    <div class="col-12 col-sm">
                </div>
            </div>
     </header>

     <div class="container">
          {% for message in get_flashed_messages() %}
                <div class="alert alert-warning">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                </div>
          {% endfor %}
    </div>
    
    <br>
    <div class="container">
        <div class="row row-header">

            {% block crumbs%}
                <ol class="col-12 breadcrumb">
                    <li class="breadcrumb-item"><a href="../../categories">Home</a></li>
                    <li class="breadcrumb-item active"> Cards</li>
                </ol>
            {% endblock%}

            <label for="word-form"> <p>Add/Search word<p></label>
            <form action="cards" method="POST" id="card-form" name="word-form">
                           
                <div class="form-group">
                  {{ form.hidden_tag() }}
                  {{ wtf.form_errors(form, hiddens="only") }}
                  {{ form.text }}
                  <i class="fa-solid fa-plus fa-lg"></i>
                  {{form.add(class="btn btn-success")}}
                  <i class="fa-solid fa-magnifying-glass fa-lg"></i>
                  {{form.search(class="btn btn-success")}}  
                </div>
                    
            </form>
 
        </div>
    </div>   

        <br>         
        <div class="container">
        {% for i in range(2)%}

            <div class="row">
                {% for j in range(4) %}
                    {% if (lists|length) > (j + (i * 4)) %}
                        <div class="flashcard">
                        <button class="delete-card" data-id="{{ lists[j + (i * 4)].id }}">&cross;</button>
                        <div class="p-3 front border">
                            <h3>{{lists[j + (i * 4)].word}}</h3>
                        </div>
                        <div class="p-3 back border">
                            <p>{{lists[j + (i * 4)].word_translation}}</p>
                        </div>
                        </div>

                    {% else%}
                        <div class="flashcard hidden">
                        <button>&cross;</button>
                        <div class="p-3 front border">
                            <h3></h3>
                        </div>
                        <div class="p-3 back border">
                            <p></p>
                        </div>
                        </div>

                    {% endif%}
                
                {%endfor%}
            </div>

        {%endfor%}
        </div>

        <br>
        <br>
        <script>
          deleteBtns = document.querySelectorAll(".delete-card");
          for (let i = 0; i < deleteBtns.length; i++) {
            const deleteBtn = deleteBtns[i];
            deleteBtn.onclick = function(e) {
              console.log("Delete event: ", e);
              const cardId = e.target.dataset.id;
              fetch('../../cards/'+ cardId,{
                method: 'DELETE'
              })
              .then(function() {
                var url = 'cards?page=1';
                if (deleteBtns.length > 1){
                  url = 'cards?page={{ pagination.page }}';
                }
                else if({{ pagination.page }} > 1){
                  url = 'cards?page={{ pagination.page - 1 }}';
                }
               window.location.replace(url);
              });
            };
          }

        </script>
   

{% endblock %}

{% block paginate%}
    {% if pagination %}
            <!-- Pagination Links-->
            <div class="text-center">
                <a href="{{ url_for('main.view',id= active_list.id,page=pagination.prev_num) }}"
                    class="btn btn-outline-dark 
                    {% if pagination.page == 1 or pagination.pages == 0  %}disabled{% endif %}">
                    &laquo;
                </a>
            <!-- Loop through the number of pages to display a link for each-->
                {% for page_num in pagination.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                {% if page_num %}
            <!-- Check for the active page and set the link to "Active"-->
                        {% if pagination.page == page_num %}
                         <a href="{{ url_for('main.view',id=active_list.id,page=page_num) }}"
                            class="btn btn-dark">
                            {{ page_num }}
                        </a>
                        {% else %}
                       <a href="{{ url_for('main.view',id=active_list.id,page=page_num) }}"
                            class="btn btn-outline-dark">
                            {{ page_num }}
                        </a>
                        {% endif %}
                    {% else %}
                        ...
                    {% endif %}
                {% endfor %}
                 <a href="{{ url_for('main.view',id=active_list.id,page=pagination.prev_num) }}"
                    class="btn btn-outline-dark 
                    {% if pagination.page == pagination.pages or pagination.pages == 0 %}disabled{% endif %}">
                    &raquo;
                </a>
            </div>
            {% if pagination.pages > 0%}
            <p class="text-center mt-3">
                Showing page {{ pagination.page }} of {{ pagination.pages }}
            </p>
            {% endif %}
        {% endif %}
{% endblock %}