{% extends "base.html" %}
{% block navigator%}
   
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active"><a class="nav-link" href="/"><span class="fa fa-home fa-lg"> </span><small>Home</small></a></li>
        <li class="nav-item"><a class="nav-link" href="../../contact.html"><span class="fa fa-info fa-lg"></span><small> Contact</small></a></li>
    </ul>
    <ul class="navbar-nav ml-auto"> 
        <li class="nav-item"><a class="nav-link" href="#"><span class="fa fa-sign-in fa-lg"></span><small>Login</small></a></li>
        <li class="nav-item"><a class="nav-link" href="#"><span class="fa fa-user-plus fa-lg"></span><small>SignUp</small></a></li>
    </ul>
{% endblock %}

{% block content %}
    <br>
    <br>
    <form action="/todos/create/{{active_list.id}}" method="POST" id="todo-form">
            <div class="container">

            <div class="form-group row">
                <div class="col-md-2">
                <label for="word"><strong>Create Task:</strong></label>
                </div>
                <div class="col-md-6">
                    <div class="form-check">
                        <input type="text" class="form-control" id="word" name="word" placeholder="word"> 
                    </div>
                </div>
                <div class="col-md-4">
                    <button type="submit" class="btn btn-primary" id="todo-button">Create Task</button> 
                </div>
            </div>
            

            </div>
        </form>
            
        <div class="container">
        {% for i in range(2)%}
            <div class="row">
                {% for j in range(4) %}
                {% if (lists|length) > (j + (i * 4)) %}
                    <div class="flashcard">
                    <button class="delete-todo" data-id="{{ lists[j + (i * 4)].id }}">&cross;</button>
                    <div class="p-3 front border">
                        <h3>{{lists[j + (i * 4)].word}}</h3>
                    </div>
                    <div class="p-3 back border">
                        <p>{{lists[j + (i * 4)].word_translation}}</p>
                    </div>
                    </div>

                {% else%}
                    <div class="flashcard hidden">
                    <button>&cross;</button>
                    <div class="p-3 front border">
                        <h3></h3>
                    </div>
                    <div class="p-3 back border">
                        <p></p>
                    </div>
                    </div>

                {% endif%}
                
                {%endfor%}
                </div>
        {%endfor%}
        </div>

        <br>
        <br>
        <script>
          deleteBtns = document.querySelectorAll(".delete-todo");
          for (let i = 0; i < deleteBtns.length; i++) {
            const deleteBtn = deleteBtns[i];
            deleteBtn.onclick = function(e) {
              console.log("Delete event: ", e);
              const todoId = e.target.dataset.id;
              fetch('/todos/'+ todoId + '/delete',{
                method: 'DELETE'
              })
              .then(function() {
                var url = '/todos/list/{{active_list.id}}?page=1';
                if (deleteBtns.length > 1){
                  url = '/todos/list/{{active_list.id}}?page={{ pagination.page }}';
                }
                else if({{ pagination.page }} > 1){
                  url = '/todos/list/{{active_list.id}}?page={{ pagination.page - 1 }}';
                }
                
                window.location.replace(url);
              });
            };
          }

        </script>
   

{% endblock %}