{% extends "base.html" %}
{% block navigator%}
    <ul class="navbar-nav ml-auto"> 
         <li class="nav-item"><a class="nav-link" href="{{url_for('login')}}"><span class="fa fa-sign-in fa-lg"></span> Login</a></li>
    </ul>
{% endblock %}

{% block content %}
    <header class="jumbotron">
        <div class="container">
            <div class="row row-header">
                <div class="col-12 text-center">
                    <i class="fa-light fa-cards-blank fa-3x"></i>
                    <h1>Welcome to FlashCards</h1>
                    <p> Login to continue </p> <a href='{{url_for('login')}}'><span class="fa fa-sign-in fa-lg"></span> Login</a>
                    
                <div class="col-12 col-sm">
            </div>
        </div>
    </header>

<br>
<div class="container">
    <div class="row row-header">
       
        <div class=" offset-3 col-9 align-content-center">
        <div class="row">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Who is it for?</h5>
                    <h6 class="card-subtitle mb-2 text-muted"></h6>
                    <p class="card-text">This application is made for people who want to learn new Languages.</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">What does it do?</h5>
                    <h6 class="card-subtitle mb-2 text-muted"></h6>
                    <p class="card-text">This application creates different flashcards and translates the word based on the language category.</p>
                </div>
            </div>
        </div>
    </div>
        <div class="offset-3 col-9 align-content-center">
        <div class="row">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">How to use the app?</h5>
                    <h6 class="card-subtitle mb-2 text-muted"></h6>
                    <p class="card-text">click the cards to see the translated word, You can also delete cards and categories.</p>

                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">special features?</h5>
                    <h6 class="card-subtitle mb-2 text-muted"></h6>
                    <p class="card-text">your flashcards can also be created, viewed, or deleted from the command line by using REST API. </p>
                </div>
            </div>
        </div>
    </div>



    </div>
</div>
{% endblock %}

